<div class="container p-2">
  <ng-template #successTpl> Item added to cart </ng-template>
<div class="card-deck d-flex flex-wrap " >

    @for (product of products; track $index) {
      <div class="col-3 mt-2">
        <div class="card p-1 " style="width: 18rem;height: 27rem;" (click)="navigate('product',product.id)">
          <img class="card-custom-image"  src="{{product.image}}" alt="Card image cap">
          <div class="card-body card-custom-body">
            <div class="card-title">{{product.title}}</div>

            <p class="card-text">{{product.price}}$</p>
            <div class="mt-auto"><a (click)="AddToCart(product.id,$event);showSuccess(successTpl)" class="btn btn-primary pull-right ">Add to cart</a></div>
          </div>
        </div>
        </div>
    }
    
</div>
</div>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>